# Virtual Environment
venv/
env/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Local configuration
*.env
.env

# Keep your API keys private
apikey_index.txt
*.lock

# Jupyter Notebook
.ipynb_checkpoints

*.sqlite3
